body {
  font-family: 'Spectral';
  font-size: 19px;
  text-align: center;
}

.container {
  margin-bottom: 300px;
}



#Stroy {
  display: none;
  color: white;
  background-color: darkgrey;

}


#Stroy img{
  Height: 450px;
  width: 600px;
}
#receipt {
  position: absolute;
  top: 200px;
  background-color: #fff7c2;
  padding-top: 70px;
  border-color: #9e9764;
  border-width: 2px;
  border-style: solid;
  font-family: 'Antic';
  height: 150px;
  width: 90%;
}

  .receiptEdit {
  position: absolute;
  top: 425px;
  left: 350px;
  background-color: #fff7c2;
  height: 80px;
  width: 250px;
  padding-top: 70px;
  border-color: #9e9764;
  border-width: 2px;
  border-style: solid;
  font-family: 'Antic';
  transform: rotate(338deg);
  display: none;
}

#eyes {
  position: absolute;
  top: 400px;
  left: 300px;
}

#eyes img {
height: 200px;
width: 200px;
}

#arms-1 {
position: absolute;
top: 500px;
left: 600px;
}

#arms-1 img {
  height: 200px;
  width: 200px;
}

#arms-2 {
position: absolute;
top: 500px;
left: 100px;
}

#arms-2 img {
  height: 200px;
  width: 200px;
}

#legs-1 {
position: absolute;
top: 750px;
left: 100px;
}

#legs-1 img {
  height: 200px;
  width: 200px;
}

#legs-2 {
position: absolute;
top: 800px;
left: 300px;
}

#legs-2 img {
  height: 200px;
  width: 200px;
}

#mouth-1 {
position: absolute;
top: 650px;
left: 300px;
}

#mouth-1 img {
  height: 200px;
  width: 200px;
}

#antlers {
position: absolute;
top: 500px;
left: 300px;
}

#antlers img {
  height: 200px;
  width: 200px;

}

.monster {
  display: none;
}

#receiptP {
  display: none;
  position: absolute;
  top:  250px;
  left: 400px;
  font-family: 'Antic';
}
